In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Superstore.xlsx')

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [5]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [6]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_').str.lower()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   datetime64[ns]
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub_category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [9]:
text_cols = df.select_dtypes(include=['object']).columns
for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

In [16]:
cols_to_fix = ['category', 'sub_category', 'city', 'state', 'region', 'segment', 'country', 'customer_name']
for col in cols_to_fix:
    df[col] = df[col].astype(str).str.title()

In [17]:
num_cols = ['sales', 'quantity', 'discount', 'profit']
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [18]:
df['postal_code'] = df['postal_code'].astype(str).str.zfill(5)

In [19]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])

In [20]:
df = df[df['sales'] > 0]

In [21]:
df = df[df['profit'] <= df['sales']]

In [22]:
df['days_to_ship'] = (df['ship_date'] - df['order_date']).dt.days

In [23]:
errors = df[df['days_to_ship'] < 0]
print(f"Number of logic errors found: {len(errors)}")

Number of logic errors found: 0

In [24]:
df['profit_margin'] = (df['profit'] / df['sales']) * 100

In [25]:
extreme_cases = df[df['profit_margin'] > 100]
print(f"Found {len(extreme_cases)} rows with impossible margins.")

Found 0 rows with impossible margins.

In [26]:
df['order_year'] = df['order_date'].dt.year
df['order_month_name'] = df['order_date'].dt.month_name()

In [27]:
# Check shape before dropping
before = df.shape[0]

# Drop duplicates
df = df.drop_duplicates(subset=['order_id', 'product_id'], keep='first')

# Check shape after dropping
after = df.shape[0]

print(f"Removed {before - after} duplicate rows.")

Removed 8 duplicate rows.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9986 entries, 0 to 9993
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_id            9986 non-null   int64
 1   order_id          9986 non-null   object
 2   order_date        9986 non-null   datetime64[ns]
 3   ship_date         9986 non-null   datetime64[ns]
 4   ship_mode         9986 non-null   object
 5   customer_id       9986 non-null   object
 6   customer_name     9986 non-null   object
 7   segment           9986 non-null   object
 8   country           9986 non-null   object
 9   city              9986 non-null   object
 10  state             9986 non-null   object
 11  postal_code       9986 non-null   object
 12  region            9986 non-null   object
 13  product_id        9986 non-null   object
 14  category          9986 non-null   object
 15  sub_category      9986 non-null   object
 16  product_name      9986 non-null   object
 17  sales             9986 non-null   float64
 18  quantity          9986 non-null   int64
 19  discount          9986 non-null   float64
 20  profit            9986 non-null   float64
 21  days_to_ship      9986 non-null   int64
 22  profit_margin     9986 non-null   float64
 23  order_year        9986 non-null   int32
 24  order_month_name  9986 non-null   object
dtypes: datetime64[ns](2), float64(4), int32(1), int64(3), object(15)
memory usage: 1.9+ MB

In [29]:
df.describe()

,row_id,order_date,ship_date,sales,quantity,discount,profit,days_to_ship,profit_margin,order_year
count,9986.000000,9986,9986,9986.000000,9986.000000,9986.000000,9986.000000,9986.000000,9986.000000,9986.000000
mean,4998.275786,2013-04-30 18:19:15.057079552,2013-05-04 17:20:33.647105792,229.872779,3.789305,0.156258,28.641480,3.959243,12.018479,2012.722812
min,1.000000,2011-01-04 00:00:00,2011-01-08 00:00:00,0.444000,1.000000,0.000000,-6599.978000,0.000000,-275.000000,2011.000000
25%,2500.250000,2012-05-23 00:00:00,2012-05-27 00:00:00,17.248000,2.000000,0.000000,1.728000,3.000000,7.500000,2012.000000
50%,4998.500000,2013-06-27 00:00:00,2013-06-30 00:00:00,54.384000,3.000000,0.200000,8.641350,4.000000,27.000000,2013.000000
75%,7495.750000,2014-05-15 00:00:00,2014-05-19 00:00:00,209.917500,5.000000,0.200000,29.353800,5.000000,36.250000,2014.000000
max,9994.000000,2014-12-31 00:00:00,2015-01-06 00:00:00,22638.480000,14.000000,0.800000,8399.976000,7.000000,50.000000,2014.000000
std,2884.759278,NaN,NaN,623.477775,2.225286,0.206499,234.349134,1.747404,46.689386,1.124175

In [30]:
df[df['days_to_ship'] > 30]

Empty DataFrame
Columns: [row_id, order_id, order_date, ship_date, ship_mode, customer_id, customer_name, segment, country, city, state, postal_code, region, product_id, category, sub_category, product_name, sales, quantity, discount, profit, days_to_ship, profit_margin, order_year, order_month_name]
Index: []

[0 rows x 25 columns]

In [31]:
df = df.rename(columns={'ship_mode': 'shipping_mode'})

In [32]:
import re

def has_hidden_chars(val):
    if isinstance(val, str):
        # This looks for anything outside the "Printable" ASCII range (32-126)
        if re.search(r'[^\x20-\x7E]', val):
            return True
    return False

# Check every column
for col in df.select_dtypes(include=['object']).columns:
    hidden_count = df[col].apply(has_hidden_chars).sum()
    if hidden_count > 0:
        print(f"Column '{col}' has {hidden_count} rows with hidden/non-standard characters.")

Column 'customer_name' has 89 rows with hidden/non-standard characters.
Column 'product_name' has 277 rows with hidden/non-standard characters.

In [33]:
import re

# Identify rows with non-standard characters in either column
mask = df['customer_name'].str.contains(r'[^\x20-\x7E]', na=False) | \
       df['product_name'].str.contains(r'[^\x20-\x7E]', na=False)

# Display the first 20 problematic rows
inspection_df = df[mask][['customer_name', 'product_name']].head(20)
print(inspection_df)

          customer_name                                       product_name
11      Brosina Hoffman      Konftel 250 Conference phone - Charcoal black
26        Eric Hoffmann   Imation 8GB Mini TravelDrive USB 2.0 Flash Drive
47       Lena Hernandez  Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive
59      Ted Butterfield  Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive
86        Paul Gonzalez  Logitech LS21 Speaker System - PC Multimedia -...
109      Pete Armstrong                   Logitech Gaming G510s - Keyboard
147      Justin Ellison  Plantronics Cordless Phone Headset with In-lin...
152   Tamara Willingham           Jabra BIZ 2300 Duo QD Duo Corded Headset
171        Chad Sievert  Adams Phone Message Book, Professional, 400 Me...
181      David Kendrick  Imation Secure+ Hardware Encrypted USB 2.0 Fla...
235  Christopher Schild                 Logitech P710e Mobile Speakerphone
251     Kelly Collister                 Logitech P710e Mobile Speakerphone
257     Dan Reichenbach  Logitech Mobile Speakerphone P710e - speaker p...
276     Andrew Gjertsen  Post-it “Important Message” Note Pad, Neon Col...
328     Patrick O'Brill  Hon 2090 “Pillow Soft” Series Mid Back Swivel/...
357     Jeremy Lonsdale  Adams Phone Message Book, 200 Message Capacity...
366     Michael Kennedy  Wilson Jones “Snap” Scratch Pad Binder Tool fo...
373       Arthur Gainer  NETGEAR AC1750 Dual Band Gigabit Smart WiFi Ro...
390      Mike Vittorini  Logitech LS21 Speaker System - PC Multimedia -...
404     Roy Französisch                                            Staples

In [34]:
import unicodedata

def final_data_polish(text):
    if not isinstance(text, str):
        return text
    
    # 1. Fix the non-breaking spaces (\xa0) from web-scraped data
    text = text.replace('\xa0', ' ')
    
    # 2. Normalize Accents (ö -> o, é -> e) 
    # This keeps the letter but removes the "hidden" complexity
    text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('ascii')
    
    # 3. Final safety check: Keep only standard printable characters
    # This automatically keeps +, /, -, ., (, ), and all numbers/letters
    # while removing smart quotes and other non-ASCII hidden symbols
    text = "".join(char for char in text if 31 < ord(char) < 127)
    
    return text.strip()

df['product_name'] = df['product_name'].apply(final_data_polish)
df['customer_name'] = df['customer_name'].apply(final_data_polish)

In [35]:
import re

# Identify rows with non-standard characters in either column
mask = df['customer_name'].str.contains(r'[^\x20-\x7E]', na=False) | \
       df['product_name'].str.contains(r'[^\x20-\x7E]', na=False)

# Display the first 20 problematic rows
inspection_df = df[mask][['customer_name', 'product_name']].head(20)
print(inspection_df)

Empty DataFrame
Columns: [customer_name, product_name]
Index: []

In [36]:
final_dupes = df.duplicated(subset=['order_id', 'product_id']).sum()

if final_dupes > 0:
    print(f"Deep cleaning revealed {final_dupes} more duplicates. Removing them now...")
    df = df.drop_duplicates(subset=['order_id', 'product_id'], keep='first')
else:
    print("No additional duplicates found. The data is 100% unique per Product/Order.")

No additional duplicates found. The data is 100% unique per Product/Order.

In [37]:
empty_strings = (df.select_dtypes(include=['object']) == "").sum()
print("Empty strings found per column:")
print(empty_strings)

Empty strings found per column:
order_id            0
shipping_mode       0
customer_id         0
customer_name       0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
product_id          0
category            0
sub_category        0
product_name        0
order_month_name    0
dtype: int64

In [39]:
df.to_excel('Superstore_Cleaned_Final.xlsx', index=False)